.supermarket {
    width: 100%;
    height: 110px;
    margin-top: 66px;
    display: flex;

    & .container {
        width: 100%;
        height: 100%;
        background-color: #F0F0F1;
        display: flex;
        border-radius: 16px;

        & .container-right {
            width: 100%;
            height: 100%;
            display: flex;
            gap: 20px;
            padding: 0 40px;

            /* gap: 20px; */
            & .img-right {
                margin-top: 30px;
                padding: ;

            }

            & .img-right2 {
                margin-top: 43px;
            }

            & span {
                margin-top: 43px;
                width: 110px;
                height: 28px;
                background-color: #029A49;
                color: white;
                border-radius: 9999px;
                text-align: center;
                padding: 0 12px;

            }
        }
    }
}

.container-left {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    & img {
        width: 74px;
        height: 74px;
        border-radius: 37px;
    }
    & span{
        width: 142px;
        height: 50px;
        background-color: white;
        color: #029A49;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        gap: 8px;
        font-weight: bold;
        font-size: 12px;
        border-radius: 9999px;
    }
}